body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    position: relative;
    display: inline-block;
    padding: 0px;
}

.square:hover {
    /* background-color: black; */
    filter: brightness(1.2);
}

.white {
    background: tan;
}

.black {
    background: rgb(58, 58, 58);
}

.knight {
    width: 62.5px;
    height: 62.5px;
    /* display: inline-block; */
    position: absolute;
}


.table.test {
    border-collapse: collapse;
}

.checkerboard {
    width: 50%;
    /* height: 500px; */
    aspect-ratio: 1;
    background: black;
    display: grid;
    background-size: cover;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

}

/* .checkerboard > div {
    background-color: tan;
  }
  .checkerboard > div:nth-child(2n) {
    background-color: #2f2f2f;
  } */